$clr-primary: rgb(32, 191, 107);
$clr-primary-light: rgb(80, 197, 136);
$clr-primary-dark: rgb(53, 139, 94);
$clr-blue: rgb(13, 125, 224);
$clr-blue-light: rgb(241, 245, 248);
$clr-blue-dark: rgb(75, 121, 167);
$clr-dark: rgb(75, 75, 75);
$clr-shadow: rgba(28, 28, 28, 0.08);
$clr-grey: rgb(188, 192, 195);

$font__1: 'Josefin Sans', sans-serif;
$font__2: 'Roboto', sans-serif;
$font__3: 'Ubuntu', sans-serif;
