@import './var';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font__1;
  color: $clr-dark;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__1;
}

p {
  font-size: 1.3rem;
}

/*  */
.message {
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-left: 2px solid;
  background: rgba($clr-blue, 0.2);
  color: $clr-blue;
  animation: fadeIn ease 0.5s;
  font-size: 1.2rem;
}
.message.success {
  background: rgba($clr-primary, 0.2);
  color: $clr-primary;
}

.message.danger {
  background: rgba($clr-danger, 0.2);
  color: $clr-danger;
}

.text-wrap {
  max-width: 230px;
  max-height: 60px;
  overflow: auto;
}

@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
